/*<----General------>*/


/*<----Landing Page------>*/
html.ng-scope #modalRow {
  display: flex;
  justify-content: center;

}
.lean-overlay{
 position: relative !important;
 display: none !important;
}

/*<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="900" width="1200"></canvas>*/
