
    <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand logo"></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">About Us</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
    <section id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center red-text text-darken-4">Flesh Stack</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Welcome to the Dungeon</h5>
                </div>
                <div class="row" id="modalRow">
                    <div class="col">
                        <a class='btn center' href='#signUpModal' modal>Sign Up</a>
                    </div>
                    <div class="col">
                        <a class='btn center' href='#loginModal' modal>Log In</a>
                    </div>
                </div>
                <div id="signUpModal" class="modal">
                    <div class="modal-content">
                        <signup></signup>
                    </div>
                    <div class="modal-footer"></div>
                </div>
                <div id="loginModal" class="modal">
                    <div class="modal-content">
                        <login></login>
                    </div>
                    <div class="modal-footer"></div>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"></div>
    </section>
